<form [formGroup]="form"
  fxLayout="column"
  fxLayoutGap="1em">
  <mat-form-field fxFlex>
    <textarea matInput
      formControlName="comment"
      placeholder="Comment">
    </textarea>
  </mat-form-field>
</form>

<mat-grid-list [cols]="schedule?.numDays+1"
  rowHeight="72px"
  [class.visible-grid]="!!draggingContent || !!resizingContent"
  [class.allow-new]="!draggingContent && !resizingContent">
  <mat-grid-tile>
  </mat-grid-tile>

  <!--days-->
  <mat-grid-tile *ngFor="let day of sortedDays$|async">
    {{ day?.full }}
  </mat-grid-tile>

  <!-- periods -->
  <div *ngFor="let period of schedule?.visiblePeriods; let p = index">
    <mat-grid-tile class="period-holder">
      <app-schedule-period [schedule]="schedule"
        [id]="p"
        [period]="period">
      </app-schedule-period>
    </mat-grid-tile>

    <!-- contents -->
    <mat-grid-tile *ngFor="let content of schedule?.contentGrid[p]"
      [colspan]="content?.getLimitedDaySpan(schedule.numDays) || 1"
      [rowspan]="content?.getLimitedPeriodSpan(schedule.numPeriods) || 1">
      <app-schedule-content [content]="content"
        mwlResizable
        [enableGhostResize]="true"
        [resizeEdges]="content.empty ? {} : {bottom: true, right: true}"
        (resizeStart)="startResizing($event,content)"
        (resizeEnd)="endResizing($event)"
        resizeCursorPrecision="10"
        dnd-draggable
        [dragEnabled]="true"
        [dragData]="content"
        (onDragStart)="startDragging(content)"
        (onDragEnd)="endDragging()">
      </app-schedule-content>

      <!-- drop zones -->

      <!-- <mat-grid-list *ngIf="content.hasSubzones"
        class="drop-zone"
        [class.disabled]="!getAllowsDrop(day,p)()"
        [cols]="content.daySpan"
        rowHeight="72px">
        <mat-grid-tile *ngFor="let zone of content.subzones"
          dnd-droppable
          [allowDrop]="getAllowsDrop(zone.day,zone.period)"
          class="drop-zone"
          (onDropSuccess)="onDrop($event, zone.day,zone.period)">
        </mat-grid-tile>
      </mat-grid-list> -->

      <div class="drop-zone"
        *ngIf="!content.occupied"
        [class.disabled]="draggingContent && !getAllowsDrop(content.day,content.period)()"
        dnd-droppable
        [allowDrop]="getAllowsDrop(content.day,content.period)"
        (onDropSuccess)="onDrop($event, content.day,content.period)">
      </div>
    </mat-grid-tile>
  </div>
</mat-grid-list>