<mat-grid-list
  [cols] = "schedule.numDays+1"
  rowHeight = "60px"
  [class.dragging] = "!!draggingContent">
  <mat-grid-tile>
  </mat-grid-tile>

  <!--days-->
  <mat-grid-tile
    dnd-draggable
    [dragEnabled]="true"
    *ngFor = "let day of schedule.sortedDays">
    {{ day.value }}
  </mat-grid-tile>

  <div
    *ngFor = "let period of schedule.visiblePeriods; let i = index">
    <mat-grid-tile>
      <app-schedule-period
        [schedule] = "schedule"
        [id] = "i"
        [period] = "period">
      </app-schedule-period>
    </mat-grid-tile>

    <mat-grid-tile
      *ngFor = "let day of schedule.sortedDays">
      <app-schedule-content
        dnd-draggable
        [dragEnabled]="true"
        [dragData]="schedule.getContent(day.key,i)"
        [day]="day.key"
        (onDragStart) = "startDragging(schedule.getContent(day.key,i))"
        [period] = "i"
        [schedule] = "schedule"
        [content] = "schedule.getContent(day.key,i)">
      </app-schedule-content>
      <div
        class="drop-zone"
        [class.disabled] = "isDraggingZone(day.key,i)"
        dnd-droppable
        (onDropSuccess)="onDrop($event, day.key,i)">
      </div>
    </mat-grid-tile>
  </div>
</mat-grid-list>

