<mat-grid-list
  [cols] = "schedule.numDays+1"
  rowHeight = 100px>
  <mat-grid-tile>
  </mat-grid-tile>

  <!--days-->
  <mat-grid-tile
    *ngFor = "let day of schedule.sortedDays">
    {{ day.value }}
  </mat-grid-tile>

  <div
    *ngFor = "let period of schedule.sortedPeriods">
    <mat-grid-tile>{{period.value}}</mat-grid-tile>

    <mat-grid-tile
      *ngFor = "let day of schedule.sortedDays"
      (click) = "addContent($event, day.key,period.key)">
      <div
        class = period-content
        (click) = "editContent($event, content)"
        *ngIf = "schedule.getContent(day.key,period.key) as content"
        [ngClass]="{'period-content--empty': !content.label}"
        fxLayout=column
        fxLayoutAlign="space-between center">
        <span class=label>
          {{content.label || 'No title'}}
        </span>

        <mat-icon
          class = delete
          (click) = "deleteContent($event, content)">
          delete
        </mat-icon>
      </div>
    </mat-grid-tile>
  </div>
</mat-grid-list>