@import 'src/assets/styles/colors';

mat-grid-tile{
  transition: background .5s;
}

.visible-grid{
  .drop-zone{
    background: rgba($champagne,.2);
    
    &.disabled{
      background: rgba($champagne,.1);      
    }
  }
}

.drop-zone{
  background: transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;

  .visible-grid &:not(.disabled){
    z-index: 3;

    &.dnd-drag-over{
      background: rgba($champagne,.4);
    }
  }  
}


app-schedule-content{
  position: relative;
  z-index: 2;
}

.resize-ghost-element{
  z-index: 4;
}
