<form [formGroup]="form"
  fxLayout="column"
  fxLayoutGap="1em">
  <mat-form-field floatPlaceholder="auto">
    <mat-select formControlName="firstDay">
      <mat-option *ngFor="let day of schedule?.days; let i = index"
        [value]="i">
        {{day}}
      </mat-option>
    </mat-select>
    <mat-placeholder>Language</mat-placeholder>
  </mat-form-field>

  <div fxLayout="row"
    fxLayoutGap="2%">
    <mat-form-field floatPlaceholder="auto">
      <mat-select formControlName="firstDay">
        <mat-option *ngFor="let day of schedule?.days; let i = index"
          [value]="i">
          {{day}}
        </mat-option>
      </mat-select>
      <mat-placeholder>First day</mat-placeholder>
    </mat-form-field>

    <div>
      <button mat-icon-button
        (click)="decreaseDays()"
        [disabled]="!schedule?.canDecreaseDays">
        <mat-icon>
          remove
        </mat-icon>
      </button>
      <mat-form-field fxFlex>
        <input type="text"
          matInput
          formControlName="numDays"
          placeholder="Num days">
      </mat-form-field>
      <button mat-icon-button
        (click)="increaseDays()"
        [disabled]="!schedule?.canIncreaseDays">
        <mat-icon>
          add
        </mat-icon>
      </button>
    </div>

    <div>
      <button mat-icon-button
        (click)="decreasePeriods()"
        [disabled]="!schedule?.canDecreasePeriods">
        <mat-icon>
          remove
        </mat-icon>
      </button>
      <mat-form-field fxFlex>
        <input type="text"
          matInput
          formControlName="numPeriods"
          placeholder="Num periods">
      </mat-form-field>
      <button mat-icon-button
        (click)="increasePeriods()"
        [disabled]="!schedule?.canIncreasePeriods">
        <mat-icon>
          add
        </mat-icon>
      </button>
    </div>
  </div>
</form>