<mat-card class="main-content">
  <mat-horizontal-stepper linear>

    <mat-step label="Initialize">
      <mat-card-title>
        Start from scratch
      </mat-card-title>
      <mat-card-content>
        <button mat-button
          color="primary"
          (click)="resetSchedule();scrollTop()"
          matStepperNext>
          Start
        </button>
      </mat-card-content>

      <mat-card-title>
        Import schedule
      </mat-card-title>
      <mat-card-content>
        <app-schedule-import></app-schedule-import>
      </mat-card-content>

      <mat-card-title>
        Load template
      </mat-card-title>
      <mat-card-content>
        <app-schedule-load></app-schedule-load>
      </mat-card-content>
    </mat-step>

    <mat-step label="Edit">
      <mat-card-content>
        <button mat-button
          (click)="scrollTop()"
          matStepperPrevious>
          Back
        </button>
        <button mat-button
          color="primary"
          (click)="saveSchedule();scrollTop()"
          matStepperNext>
          Export
        </button>
      </mat-card-content>

      <mat-card-title>
        Settings
      </mat-card-title>

      <mat-card-content>
        <app-schedule-settings>
        </app-schedule-settings>
      </mat-card-content>

      <mat-card-title>
        Schedule
      </mat-card-title>
      <mat-card-content>
        <app-schedule
          [isEditing]="true">
        </app-schedule>
      </mat-card-content>

      <mat-card-content>
        <button mat-button
          (click)="scrollTop()"
          matStepperPrevious>
          Back
        </button>
        <button mat-button
          color="primary"
          (click)="saveSchedule();scrollTop()"
          matStepperNext>
          Export
        </button>
      </mat-card-content>
    </mat-step>

    <mat-step label="Export">
      <mat-card-content>
        <button mat-button
          (click)="scrollTop()"
          matStepperPrevious>
          Back
        </button>
        <button mat-button
          color="primary"
          ngxClipboard
          [cbContent] = "(schedule$ | async).exportable | json">
          Copy schedule
        </button>
      </mat-card-content>

      <mat-card-content>
        <pre>
          {{(schedule$ | async).exportable | json}}
        </pre>
      </mat-card-content>
      
      <mat-card-content>
        <button mat-button
          (click)="scrollTop()"
          matStepperPrevious>
          Back
        </button>
        <button mat-button
          color="primary"
          ngxClipboard
          [cbContent]="(schedule$ | async).exportable | json">
          Copy schedule
        </button>
      </mat-card-content>
    </mat-step>
  </mat-horizontal-stepper>
</mat-card>