<div
  class = main-content>

  <mat-card>
    <mat-card-title>
      Edit school schedule
    </mat-card-title>

    <mat-card-content>
      <app-schedule-selector>
      </app-schedule-selector>
      <app-schedule>
      </app-schedule>
    </mat-card-content>
    
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        (click)="saveSchedule()"
      >
        Save
      </button>
    </mat-card-actions>
  </mat-card>

  
  <mat-card>
    <mat-card-title>
      Schedule saved configuration
    </mat-card-title>

    <mat-card-content>
      <pre>
        {{schedule$ | async | json}}
      </pre>
    </mat-card-content>
  </mat-card>
</div>