<div
  class = main-content>

  <md-card>
    <md-card-title>
      Edit school schedule
    </md-card-title>

    <md-card-content>
      <app-schedule-selector>
      </app-schedule-selector>
      <app-schedule>
      </app-schedule>
    </md-card-content>
  </md-card>

  <div
    class = form-actions
    fxLayout = row
    fxLayoutAlign = "end center"
    fxLayoutGap = 1em>
    <button
      md-raised-button>
      Cancel
    </button>
    
    <button
      md-raised-button
      color = primary
      (click) = saveSchedule()>
      Save
    </button>
  </div>

  
  <md-card>
    <md-card-title>
      Schedule saved configuration
    </md-card-title>

    <md-card-content>
      <pre>
        {{schedule$ | async | json}}
      </pre>
    </md-card-content>
  </md-card>
</div>