<form
  [formGroup] = form
  fxLayout = column
  fxLayoutGap = 1em>
  <div
    fxLayout = row
    fxLayoutGap = 2%>
    <mat-select
      fxFlex = 24
      formControlName = firstDay
      placeholder = "First day">
        <mat-option
          *ngFor = "let day of schedule.days; let i = index"
          [value] = i>
          {{day}}
        </mat-option>
    </mat-select>
    
    <mat-select
      fxFlex = 23
      formControlName = numDays
      placeholder = "Number of days">
        <mat-option
          *ngFor = "let num of schedule.numDaysOptions"
          [value] = num>
          {{num}}
        </mat-option>
    </mat-select>
    
    <mat-select
      fxFlex = 23
      formControlName = numPeriods
      placeholder = "Number of periods">
        <mat-option
          *ngFor = "let num of schedule.numPeriodsOptions"
          [value] = num>
          {{num}}
        </mat-option>
    </mat-select>
    
    <mat-select
      fxFlex = 24
      formControlName = firstPeriod
      placeholder = "First period">
        <mat-option
          *ngFor = "let period of schedule.periods; let i = index"
          [value] = i>
          {{period}}
        </mat-option>
    </mat-select>
  </div>
  
  <mat-input-container
    fxFlex>
    <input
      type = text
      matInput
      formControlName = comment
      placeholder = Comment>
  </mat-input-container>
</form>