:host{
  width: 100%;
  height: 100%;
  display: flex;
}

.cell{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 2px;
  padding: 1em;
}

.content{
  color: tomato;
  background: white;
  border: 1px solid tomato;
  
  &--empty{
    opacity: 0.5;
  }
  
  &--highlight{
    background: tomato;
    color: white;
  }
}

.placeholder{
  background: #ddd;
  opacity: 0;

  &:hover{
    opacity: 1;
  }
}