<div
  class="cell content"
  [class.content--highlight] = "content.highlight"
  [class.content--empty] = "!content.label"
  (click)="edit($event)"
  *ngIf="!content.empty"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <div
    class="content-holder">
    <mat-icon
      fontSet = "alpadia"
      class = "icon"
      *ngIf = "content.icon">
      {{content.icon}}
    </mat-icon>
  
    <span>{{content.label || 'No title'}}</span>
  </div>

  <div
    class="drag-handle"
    dnd-draggable-handle>
    <mat-icon>
      open_with
    </mat-icon>
  </div>
</div>

<div
  class="cell placeholder"
  *ngIf="content.empty"
  (click) = "edit($event)">
  <mat-icon>
    add
  </mat-icon>
</div>
