@import 'src/assets/colors';

:host{
  width: 100%;
  height: 100%;
  display: flex;

  &:hover{
    .drag-handle{
      opacity: 1;
    }
  }
}

.drag-handle{
  transition: opacity .5s;
  color: $champagne;
  width: 36px;
  height: 36px;
  position: absolute;
  top: 10px;
  left: 10px;
  opacity: 0;
}

.cell{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  padding: 1em;
  border: 2px solid $white;
}

.content{
  transition: box-shadow 0.5s;
  color: $black;
  background: rgba($champagne,.2);
  
  &--empty{
    color: $champagne;
  }
  
  &--highlight{
    background: rgba($champagne,.4);
  }

  &:hover{
    box-shadow: -5px -5px 0 rgba($champagne,.4) inset;
  }
}

.placeholder{
  color: $champagne;
  opacity: 0;
  
  &:hover{
    :host-context(.allow-new) &{
      opacity: 1;
    }
  }
}
