<div
  class="cell content"
  [class.content--highlight] = "content.highlight"
  (click)="edit($event)"
  *ngIf="!content.empty"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <div
    class="content-holder">
    <mat-icon
      fontSet = "alpadia"
      class = "icon"
      *ngIf = "content.icon">
      {{content.icon}}
    </mat-icon>
  
    <span [innerHtml] ="content.formatedLabel"></span>
    <img src="assets/img/included-activity.svg"
      *ngIf="content.hasIncludedActivity"
      alt="Included activity"
      height="30px">
      <img src="assets/img/premium-activity.svg"
      *ngIf="content.hasPremiumActivity"
      alt="Premium activity"
      height="30px">
  </div>

  <div
    class="drag-handle"
    dnd-draggable-handle>
    <mat-icon>
      open_with
    </mat-icon>
  </div>
</div>

<div
  class="cell content-empty"
  *ngIf="content.empty"
  (click) = "edit($event)">
  <mat-icon>
    add
  </mat-icon>
</div>
