<form [formGroup]="form"
  (ngSubmit)="save()">
  <h2 mat-dialog-title>
    Edit Event
  </h2>

  <mat-dialog-content>
    <div class="field"
      cols=5
      rowHeight="36px"
      fxLayout="row">
      <span class="icon-holder"
        [class.selected]="form.controls.icon.value === icon"
        *ngFor="let icon of icons"
        (click)="selectIcon(icon)">
        <mat-icon fontSet="alpadia">
          {{icon}}
        </mat-icon>
      </span>
    </div>
    
    <div class="field">
      <mat-form-field fxFlex>
        <textarea matInput
          formControlName="label"
          placeholder="Title"
          rows="3">
          </textarea>
      </mat-form-field>
    </div>
    
    <div class="field">
      <mat-checkbox formControlName="hasIncludedActivity">
        <img src="assets/img/included-activity.svg"
          alt="Included activity"
          height="30px">
      </mat-checkbox>
    </div>
    
    <div class="field">
      <mat-checkbox formControlName="hasPremiumActivity">
        <img src="assets/img/premium-activity.svg"
          alt="Premium activity"
          height="30px">
      </mat-checkbox>
    </div>

    <div class="field">
      <mat-checkbox formControlName="highlight">
        Highlight
      </mat-checkbox>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button type="submit"
      mat-raised-button
      [disabled]="!form.valid"
      color="primary">
      Save
    </button>
    <button mat-button
      mat-dialog-close>
      Cancel
    </button>
    <button mat-button
      color="warn"
      (click)=delete($event)>
      Delete
    </button>
  </mat-dialog-actions>
</form>