@import 'src/assets/styles/colors';
@import '~@angular/material/theming';


mat-icon{
  font-size: 24px;
}

.icon-holder{
  cursor: default;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected{
  color: mat-color(mat-palette($mat-red));
  border-bottom: 2px solid mat-color(mat-palette($mat-red));
}

img{
  margin: 6px 0 0 4px;
}

mat-dialog-content{
  padding-bottom: 20px;
}

.icon-selector{
  margin-bottom: 1em;
}