$primary:     #EC0929;
$white:       #FFFFFF;
$gray99:      #FAFBFC;
$gray98:      #F5F7FA;
$gray65:      #9DA2A6;
$black:       #414142;
$champagne:   #D9D6CE;
$sea:         #033085;
$sky:         #14A7E0;
