$icomoon-font-path: "assets/fonts" !default;

$alp-ico-cutlery: "\ec00";
$alp-ico-people: "\e001";
$alp-ico-user2: "\e005";
$alp-ico-social-twitter: "\e009";
$alp-ico-social-tumblr: "\e00a";
$alp-ico-social-facebook: "\e00b";
$alp-ico-screen-tablet: "\e00f";
$alp-ico-notebook: "\e013";
$alp-ico-graduation: "\e019";
$alp-ico-energy: "\e020";
$alp-ico-emotsmile: "\e021";
$alp-ico-map2: "\e033";
$alp-ico-directions: "\e041";
$alp-ico-diamond: "\e043";
$alp-ico-cup: "\e044";
$alp-ico-book-open: "\e04c";
$alp-ico-home2: "\e069";
$alp-ico-calender: "\e075";
$alp-ico-location-pin: "\e096";
$alp-ico-social-instagram: "\e609";
$alp-ico-social-linkedin: "\e60a";
$alp-ico-social-google: "\e60d";
$alp-ico-crescent-moon-phase-outlined-shape: "\e928";
$alp-ico-label-outline: "\e957";
$alp-ico-sun-day-weather-symbol: "\e9b0";
$alp-ico-text-paper-sheet-symbol: "\e9b7";
$alp-ico-book: "\e9f9";
$alp-ico-more-horizontal: "\ea65";

